// - MARK: Overlay fade animation

.overlay-fade {
  &-enter-active {
    animation: overlay-fade-animation $transition-delay;
  }

  &-leave-active {
    animation: overlay-fade-animation $transition-delay reverse;
  }
}

@keyframes overlay-fade-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// - MARK: twitchy-toggle animation

.twitchy-toggle {
  &-enter-active {
    animation: twitchy-toggle-animation $transition-delay cubic-bezier(0.21, 0.77, 0.68, 1.6);
  }

  &-leave-active {
    animation: twitchy-toggle-animation $transition-delay cubic-bezier(0.21, 0.77, 0.68, 1.6) reverse;
  }
}

@keyframes twitchy-toggle-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


// - MARK: toggle-dialog animation

.toggle-dialog {
  &-enter-active {
    animation: toggle-dialog-animation $transition-delay-boring ease-in-out;
  }

  &-leave-active {
    animation: toggle-dialog-animation $transition-delay-boring ease-in-out reverse;
  }
}

@keyframes toggle-dialog-animation {
  from {
    opacity: 0;
    transform: translateY(30rem);
    filter: blur(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
