/* start-colors */
/* white */
$color-white: #FFFFFF;

/* black */
$black-color: #181818;

/* gray */
$gray-color-1: #d3d6da;
$gray-color-2: #434343;
$gray-color-3: #656565;
$gray-color-4: #B1B1B1;
$gray-color-5: #D0D0D0;
$gray-color-6: #EDEDED;
$gray-color-7: #F5F6F7;

/* orange */
$orange-color-1: #EF8747;
$orange-color-2: #F1965E;
$orange-color-3: #FFF5EF;

/* green */
$green-color-1: #439F6E;
$green-color-2: #50B57F;
$green-color-3: #E4FAEF;

/* red */
$red-color-1: #EF475B;
$red-color-2: #F65E71;
$red-color-3: #FFF2F4;

/* purple */
$purple-color-1: #785BEC;
$purple-color-2: #8970EE;
$purple-color-3: #F6EFFF;

/* blue */
$blue-color-1: #1051C3;
$blue-color-2: #125EE4;
$blue-color-3: #2B72EE;
$blue-color-4: #EFF5FF;
/* end-colors */

/* scrollbar */
$scrollbar-width: 6rem;

/* header */
$header-height: 65rem;

/* fonts */
$main-font: PTSans;

/* transitions */
$transition-delay: 150ms;
$transition-delay-boring: .4s;
$transition-button-active: 0.2s;
